apiVersion: v1
kind: Service
metadata:
  name: execution-service
spec:
  type: LoadBalancer
  selector:
    app: execution-service
  ports:
    - protocol: TCP
      port: 3002
      targetPort: 3002
